@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', Arial, sans-serif;
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  justify-content: space-between;
  padding: 6rem 2rem 0 2rem;
  transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
  flex: 1 1 auto;
  padding-bottom: 2rem;
  overflow: hidden;
}

.layouot-main-background {
    background-image: url("../../../public/background.png");
    background-repeat: no-repeat;
    background-size: initial;
    overflow:hidden;
}


.layout-main-container-opacity .p-card {
    color: var(--text-color);
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0 1px rgba(0,0,0,0.02);
}
.layout-main-dashboard {
  min-height: 100vh;
  transition: min-height 0.3s cubic-bezier(0.4,0,0.2,1);
  overflow: hidden;
  position: relative;
}
