<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/">
      <img src="{{layoutService.isDarkTheme() ? 'snowball_idi_light' : 'snowball_idi_dark'}}.png" alt="" width="130">
    </a>
  </div>

  <div class="layout-topbar-actions">
    <p-divider layout="vertical"></p-divider>
    <div class="layout-topbar-menu-content">
      <app-add-game />
      <button type="button" class="layout-topbar-action">
        <i class="pi pi-pen-to-square"></i>
      </button>
      <button type="button" class="layout-topbar-action">
        <i class="pi pi-trash"></i>
      </button>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="layout-config-menu">
      <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
        <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
      </button>
      <div class="relative">
        <button class="layout-topbar-action layout-topbar-action-highlight"
                pStyleClass="@next"
                enterFromClass="hidden"
                enterActiveClass="animate-scalein"
                leaveToClass="hidden"
                leaveActiveClass="animate-fadeout"
                [hideOnOutsideClick]="true">
          <i class="pi pi-palette"></i>
        </button>
        <app-configurator />
      </div>
    </div>
  </div>
</div>
