<button type="button" class="layout-topbar-action" (click)="showAddDialog()">
  <i class="pi pi-plus"></i>
</button>
<p-dialog header="Add Game" [(visible)]="showAddDlg" [modal]="true" [style]="{ width: '1000px' }">
  <form [formGroup]="addGameForm" (ngSubmit)="addGame()">
    <div class="form-group mb-3">
      <label class="block text-black-50 font-medium mb-2">Game name</label>
      <input type="text" pInputText formControlName="gameName" class="form-control w-full md:w-30rem mb-3"
             [ngClass]="{ 'is-invalid': submitted && controls.gameName.errors}" required>
      <div *ngIf="submitted && controls.gameName.errors" class="invalid-feedback">
        <div *ngIf="controls.gameName.errors?.required">
          <p-message severity="error" variant="simple" size="small">Email is required</p-message>
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="block text-black-50 font-medium mb-2">Game description</label>
      <textarea type="text" pTextarea formControlName="gamedescr" class="form-control w-full md:w-30rem mb-3"
                [ngClass]="{ 'is-invalid': submitted && controls.gamedescr.errors}" required></textarea>
      <div *ngIf="submitted && controls.gamedescr.errors" class="invalid-feedback">
        <div *ngIf="controls.gamedescr.errors?.required">
          <p-message severity="error" variant="simple" size="small">Email is required</p-message>
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label class="block text-black-50 font-medium mb-2">Disc number</label>
      <p-inputnumber formControlName="discnum" class="form-control w-full md:w-30rem mb-3" />
    </div>
    <div class="form-group mb-3">
      <label class="block text-black-50 font-medium mb-2">Title Picture</label>
      <p-fileupload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                    formControlName="titlepic" class="form-control w-full md:w-30rem mb-3"
                    [customUpload]="true" accept="image/*" maxFileSize="10485760" />
    </div>
    <div class="form-group mb-3">
      <label class="block text-black-50 font-medium mb-2">Screenshots</label>
      <app-fileupload />
    </div>
    <div class="form-group mb-3">
      <label class="block text-black-50 font-medium mb-2">Additional game files</label>
      <app-fileupload />
    </div>
    <div class="form-group">
      <div class="flex justify-content-between">
        <div class="flex justify-content-start gap-2">
          <p-button label="Cancel" severity="secondary" (onClick)="cancel()" />
        </div>
        <div class="flex justify-content-end gap-2">
          <p-button type="submit" label="Add" />
        </div>
      </div>
    </div>
  </form>
</p-dialog>
